.logo{
	width: 25vw;
	height: 10vh;
	background-color: orange;
}

.nav{
	position: absolute;
	left: 30vw;
	width: 68vw;
	height: 10vh;
	background-color: aquamarine;
	display: inline-block;
}

#slider{
	margin: 10px 0 0 0;
	width: 96vw;
	height: 35vh;
	background-color: red;
}

.blocks, .block{
	display: inline-block;
	position: relative;
	margin: 8px;
	width: 25vw;
	height: 10vh;
	background-color: yellow;
	border: solid;
}

#box{
	width: 96vw;
	height: 10vh;
	background-color: coral;
}

#box2{
	margin-top: 10px;
	width: 96vw;
	height: 10vh;
	background-color: aquamarine;
}


#footer{
	border-top: 5px solid black;
    margin-top: 10px;
	width: 96vw;
	height: 13vh;
	background-color: darkgray;
}
